<div class="post-detail">
  <img
    class="post-detail-cover"
    src="{{post.cover}}"
    alt=""
    height="300"
    width="300"
  />
  <h1 class="post-detail-title heading1">{{post.title}}</h1>
  <span class="post-detail-created-at body3">{{post.createdAt}}</span>
  <p class="post-detail-body body1">{{post.body}}</p>
</div>